body {
  background-color: #f7f9fb;  /* 전체 배경색 통일 */
}

#body {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 24px;
  box-sizing: border-box;
  background-color: #f7f9fb;  /* #body에도 같은 배경색 적용 */
}
